.info-title {
    margin-bottom: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.emotions-list {
    list-style: none;
    padding: 10px;
}

.emotion-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.emotion-icon {
    font-size: 1.7em; /* Размер иконки */
    margin-right: 5px;
}

.emotion-name {
    font-weight: bold;
    margin-right: 5px;
    font-size: 22px;
}

.emotion-description {
    font-family: 'Arial', sans-serif;
    color: #555;
}

.info-text {
    font-size: 22px;
}