.form-control {
    margin: 20px;
    border-radius: 20px !important;
}

.form-control:focus {
    border-color: orange !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.5) !important;
}

.form-control:hover {
    border-color: orange !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.5) !important;
}